    <td id="name"><%- name %></td>
    <td id="address"><%- address %></td>
    <td id="mobile"><%- mobile %></td>
    <td id="phone"><%- phone %></td>
    <td id="email"><%- email %></td>
    <td id="actions"><input class="edit" type="image" src="images/icn_edit.png" title="Edit"><input class="destroy" type="image" src="images/icn_trash.png" title="Trash"></td>
    <td class="hidden" id="td_name_input"><input type="text" id="edit_name_input" value="<%- name %>"></td>
    <td class="hidden" id="td_address_input"><input type="text" id="edit_address_input" value="<%- address %>"></td>
    <td class="hidden" id="td_mobile_input"><input type="text" id="edit_mobile_input" value="<%- mobile %>"></td>
    <td class="hidden" id="td_phone_input"><input type="text" id="edit_phone_input" value="<%- phone %>"></td>
    <td class="hidden" id="td_email_input"><input type="text" id="edit_email_input" value="<%- email %>"></td>
    <td class="hidden" id="td_edit_button"><input type="button" value="Save" class="alt_btn" id="edit_button"></td>